#import tivopuller
#import os.path

#include $os.path.join($tivopuller.PROG_DIR, "web/inc_top.tmpl")

<form action="forceQuery" method="POST">
    <div>
        <input type="submit" value="Force query" />
    </div>
</form>

<form action="forceDownload" method="POST">
    <div>
        <input type="submit" value="Force download" />
    </div>
</form>

<form action="forceQueue" method="POST">
    <div>
        <input type="submit" value="Force add to queue" />
    </div>
</form>

<div>
    <a href="../config">Configuration</a>
    <br>
    <a href="halt">stop processes </a>
</div>

<form action="updateStatuses" method="POST">
    <div>
            Mark selected as: <select name="status">
            <option value=""></option>
            #for $status in $statuses
                <option value="$status[0]">$status[1]</option>
            #end for

            <div>
                <input type="submit" value="Save" />
            </div>
    </select>
    <div>
        <table>
            <thead>
                <th></th>
                <th>Episode Title</th>
                <th>Status</th>
            </thead>
            <tbody>
                #for $ep in $episodes
                <tr>
                    <td></td>
                    <td colspan="2">
                        $ep[0]
                    </td>
                </tr>

                #for $episode in $ep[1]
                <tr>
                    <td><input type="checkbox" name="episode" value="$episode.EpisodeId" /></td>
                    <td>
                        $episode.EpisodeName
                    </td>
                    <td>
                        $episode.Status
                    </td>
                </tr>
                #end for
                #end for
            </tbody>
        </table>
    </div>
</form>
#include $os.path.join($tivopuller.PROG_DIR, "web/inc_bottom.tmpl")